# ===[ CORE MODULES ]===
# mandatory libraries
jupyterlite-core==0.5.0
jupyterlab~=4.3.4
notebook~=7.3.2

# ===[ KERNELS ]===
jupyterlite-pyodide-kernel==0.5.0       # Python kernel (optional)
jupyterlite-javascript-kernel==0.3.0    # JavaScript kernel (optional)
jupyterlite-p5-kernel==0.1.0            # P5 kernel (optional)

# ===[ LANGUAGE PACKS ]===
# optional
jupyterlab-language-pack-de-DE
jupyterlab-language-pack-fr-FR
jupyterlab-language-pack-it-IT

# JupyterLab: guided tour (optional)
# TODO: re-enable after https://github.com/jupyterlab-contrib/jupyterlab-tour/issues/82
# jupyterlab-tour

# ===[ INTERACTIVE WIDGETS ]===
ipywidgets>=8.1.3,<9    # ipywidget library for Jupyter notebooks (optional)
ipyevents>=2.0.1        # ipyevents library for Jupyter notebooks (optional)
ipympl>=0.8.2           # interative Matplotlib library for Jupyter notebooks (optional)
ipycanvas>=0.9.1        # ipycanvas library for Jupyter notebooks (optional)
ipyleaflet              # ipyleaflet library for Jupyter notebooks (optional)

# ===[ FILE RENDERERS ]===
jupyterlab_myst
jupyterlab-fasta>=3.3.0,<4      # JupyterLab: Fasta file renderer (optional)
jupyterlab-geojson>=3.4.0,<4    # JupyterLab: Geojson file renderer (optional)

# ===[ PLOTTING LIBRARIES ]===
# optional
plotly>=5,<6
seaborn
bqplot

# ===[ THEMES ]===
jupyterlab-night            # JupyterLab: dark theme
jupyterlab_miami_nights     # JupyterLab: Miami nights theme (optional)